html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    /*padding: 70px 15px 20px;*/
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* Added to default yii2 css styles */

.site-login {
    text-align: center;
    border-bottom: solid 1px #d7d7d7;
}

.remove-btn {
    width: 40px;
}

.add-btn {
    width: 40px;
    float: right;
    margin: 5px;
}

.form-control.remove-btn {
    float: right;
    margin-right: -80px;
    margin-top: -40px;
}

/* Поля оргштатной структуры (с кол-вом и шт.числ) */
.part-field {
    float: left;
    margin: 0 10px;
}

div.part-field{
    clear: both;
    margin: 5px 0;
}

label.part-field{
    width: 180px;
    margin:0;
}

span.part-field{
    position: relative;
    display: inline-block;
    float: left;
    margin: 0;
}

/* Заголовок в сворачивалке сферы деятельности */
.accordion-panel .panel-title{
    overflow: hidden;
}

.accordion-panel .panel-title > a {
    display: inline-block;
    padding: 6px 0;
}


/* =========== Лобби ================ */

.col-centered{
    float: none;
    margin: 0 auto;
}

.municipality-front{
    margin: 10px 0;
}

a.municipality-front{
    display: block;
    text-decoration: none;
    color: inherit;
}

a.municipality-front:hover{
    text-decoration: underline;
}

div.municipality-front{
    color: #808080;
}

.municipality-front img, .motile img, .cmp-column img{
    width: 109px;
}

.motile-name .label {
    display: inline-block;
    margin: 5px;
}

/*[class *= "col-"]{
    margin: 5px auto;
}*/

.viewfield p{
    height: auto;
    max-height: 100px;
    min-height: 34px;
    overflow-y: auto;
}

.compare-controls{
    display: block;
    height: 34px;
}

.compare-body > *{
    font-size: 10px;
    cursor: pointer;
}

#btnCompare{
    margin: 15px 5px;
}

/* ============ Сравнение ===================== */



.compare-tbl tr td {
    /*width: 600px;*/

}
.compare-tbl td > div{
    height: auto;
    min-height: 34px;
    max-height: 80px;
    width: 100%;
    overflow-y: auto;
}

.compare-tbl .hdr{
    font-weight: bold;
    text-align: center;
}

.stick-top{
    /*width: 300px;*/
    overflow: hidden;
    position: fixed;
    top: 0px;
}



.container .compare-tbl{
    width: 1200px;
}

th{
    background-color: white;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
    padding: 5px;
}


.compare-tbl > tbody > tr > td:nth-child(1){
    font-weight: bold;
    text-align: left;
}

.compare-tbl th{
    text-align: center;
}


.hdr-row td{
    text-align: center;
}

.compare-tbl{
    table-layout:auto;
}

.div-table-content {
    height:150px;
    /*overflow-y:hidden;*/
}
